# Automatically build the project and run any configured tests for every push
# and submitted pull request. This can help catch issues that only occur on
# certain platforms or Java versions, and provides a first line of defence
# against bad commits.

name: build
on: [pull_request, push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Validate the Gradle wrapper
        uses: gradle/actions/wrapper-validation@v4
      - name: Setup the JDK
        uses: actions/setup-java@v4
        with:
          java-version: '23'
          distribution: 'oracle'
      - name: Make the Gradle wrapper executable
        run: chmod +x ./gradlew
      - name: Build the project
        run: ./gradlew build
      - name: Capture the build artifacts
        uses: actions/upload-artifact@v4
        with:
          name: Artifacts
          path: build/libs/